body {
    margin: 0;
    padding: 0;
    background: rgb(240, 240, 240);
    font-family: Arial, sans-serif;
}

header h1 {
    text-align : center;
}

nav {
    padding: 0;
    background: rgb(27, 56, 102);
}

#menus {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

#signBar {
    margin-top: 5px;
    float: right;
    width: 500px;
}

#signForm {
    width: 100%;
}

#loginSubmit, #registerButton {
    background-color : #1d8eb8;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

#loginSubmit:hover, #registerButton:hover {
    background: #0d5ea8;
    cursor: pointer;
}

#loginUsername, #loginPassword {
    background-color: #eeeeee;
    width: 100px;
    font-size: 17px;
}

#loginForm input, #registerButton {
    padding: 7px;
    border:none;
    border-radius: 3px 3px;
    margin-left: 1%;
    margin-right: 1%;
}

.menu {
    margin-left: 1%;
    margin-right: 1%;
}

.menu:last-child {
    margin-right: 0;
}

.subMenu {
    display: flex;
    flex-direction: column;
    background-color: rgb(11, 36, 76);
    position: absolute;
}

.subMenuTitle {
    display: block;
    font-size: 130%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 35px;
}


.menuTitle, .subMenuTitle {
    text-decoration: none;
    color: white;
}

.menuTitle {
    display: block;
    font-size: 130%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
}

.menuTitle:focus, .subMenuTitle:focus {
    outline: none;
}

.open:not(.closing), .opening {
    background: #0b244c;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.sticky + .content {
    padding-top: 45px;
}

#listsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1%;
}

.listArticle {
    background: rgb(0, 77, 101);
    color: white;
    width: 400px;
    padding: 1%;
    margin: 1%;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
}

.listArticle:hover, .listItem:hover {
    box-shadow: 5px 5px 3px rgb(0, 50, 80);
    z-index: 0;
}

.listArticle:focus {
    outline: none;
}

#listContent, #itemContent {
    text-align: center;
    padding: 20px;
    background: rgb(0, 77, 101);
    color:white;
    border-radius: 20px 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    box-shadow: 5px 5px 3px rgb(0, 50, 80);
}

#itemsPart {
    margin-top: 7%;
}

#listItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#listItems .listItem {
    width: 200px;
    text-align: center;
}

#listItems .itemImg {
    width: 120px;
    height: 120px;
    border-radius: 20%;
}

#itemContent .itemImg {
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.listItem {
    text-decoration: none;
    color: white;
    border: solid 3px rgb(0, 50, 80);
    border-radius: 10px 10px;
    margin: 1%;
    padding: 1%;
}

.itemName {
    margin: 10px;
}

.listItem:focus {
    outline: none;
}

.listTitle {
    margin-bottom: 5%;
}

#signBar {
    float: right;
}

#registration {
    text-align: center;
}

#registerForm input, #registerForm label {
    display: block;
}

#registerForm input {
    padding: 5px;
    width: 200px;
    border: 1px solid #aaaaaa;
    border-radius: 5px 5px;
    font-size: 20px;
    margin: 20px auto 20px auto;
}

#registerForm label {
    font-weight : bold;
    font-size: 22px;
}

#registration h2 {
    font-size: 25px;
    margin-bottom: 50px;
}

.registerStep {
    height: 15px;
    width: 15px;
    background: #999999;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;
}

.stepActive {
    opacity: 1;
}

.stepFinish {
    background-color: #4CAF50;
}

#registerPreviousStep {
    margin-right: 12%;
    background-color: #bbbbbb;
    border: solid 1px grey;
}

#registerNextStep {
    margin-left: 12%;
    background-color: #4CAF50;
    border: solid 1px green;
}

#registerButtons button {
    padding: 15px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 2%;
}

#registerButtons button:hover {
    opacity: 0.9;
    box-shadow: black 2px 2px 2px;
}

#notFound {
    text-align: center;
    margin: 7%;
}

#errorTitle {
    margin-bottom: 3%;
    font-size: 30px;
}

#errorDesc {
    font-size: 17px;
}

.itemActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.itemAction {
    margin: 5px 5px 0 5px;
    font-size: 25px;
    padding-right: 5px;
    padding-left : 5px;
    text-decoration: none;
    color: white;
}

.itemAction:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: #0d5ea8;
}

